*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:active, a:hover{
    text-decoration: none;
    }
html{
    @include respond(big-screen){
        font-size: 110%;
    }
    @include respond(tab-lend){
        font-size: 90%;
    }
    @include respond(tab-port){
        font-size: 80%;
    }
    @include respond(phone){
        font-size: 70%;
    }
}
html{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 155%;
    font-size: rem(14px)
}