h1{
    font-size: rem(56px);
    letter-spacing: -3px;
    line-height: 105%;
    color: $color-white;
    font-weight: 400;

}
h2{
    color:$color-blue-dark;
    font-size: rem(46px);
    line-height: 105%;
    letter-spacing: -1px;
    font-weight: 500;

}
.price-standart{
    font-size: rem(16px);
    line-height: 135%;
    letter-spacing: -1px;
    color: $color-blue;
    font-weight: 600;
}
.price-red{
    margin-right: rem(8px);
    color:$color-red;
    font-size: rem(16px);
    letter-spacing: -1px;
    line-height: 135%;
    font-weight: 600;
}
.price-old{
    color: $color-gray-blue;
    text-decoration: line-through;
    text-decoration-color: $color-red;
}