.link-beige{
    color:$color-beige-light;
    &:active{
        color:$color-beige;
    }
    &:hover{
        color:$color-beige
    }
}
.blue-opacity{
    color: rgba($color-blue, 0.5);
}
.rotate{
    transform: rotate(180deg);
}
.container{
    margin-bottom: 0;
}