
$color-blue:rgba(33, 63, 116, 1);
$color-blue-2:rgba(50, 69, 95, 1);
$color-blue-dark: rgba(18, 41, 82, 1);
$color-blue-light:rgba(0, 45, 121, 1);
$color-white:rgba(255, 255, 255, 1);
$color-white-transparent:rgba(255, 255, 255, 0.2);
$color-beige:rgba(231, 216, 202, 1);
$color-beige-light:rgba(198, 188, 178, 1);
$color-beige-dark:rgba(176, 166, 155, 1);
$color-gray-light:rgba(243, 245, 247, 1);
$color-gray-dark:rgba(229, 233, 236, 1);
$color-gray-blue: rgba(127, 130, 149, 1);