.breadcrumbs{
    margin-bottom: rem(25px);
    @include respPadding(rem(25px), 0);
    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    &__link{
        text-decoration: none;
        color: $color-blue;
    }
    &__item{
        font-size: rem(15px);
        line-height: 135%;
        &:not(:last-child){
            margin-right: rem(10px);
        }
    }
}