.btn{
    padding: rem(15px) rem(27px);
    background-color: $color-blue;
    color: $color-white;
    line-height: 145%;
    border-radius: 60px;
    text-wrap: nowrap;
    font-weight: 600;
    cursor: pointer;
    border:none;
    &:hover{
        background-color: $color-blue-light;
    }
    &:active{
        background-color: $color-blue-dark;
    }

}
.whats_up{
    width: rem(249px);
    height: rem(60px);
    color: $color-blue;
    font-size: rem(14px);
    line-height: 135%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-gray-light;
    border: 1px solid $color-gray-dark;
}
.cart{
  margin-right: rem(10px);
  display: none;
  width: rem(55px);
  height: rem(55px);
  @include respond(tab-port){
      display: block;
  }
}
.account{
  display: none;
  margin-right: rem(10px);
  width: rem(55px);
  height: rem(55px);
  @include respond(tab-port){
      display: block;
  }
}
.search{
  display: none;
  margin-right: rem(10px);
  width: rem(55px);
  height: rem(55px);
  @include respond(min-phone){
      display: block;
  }
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    border: 0.12rem solid $color-white;
    border-radius:3px;
    cursor: pointer;
  }
  input[type="checkbox"]::before {
    content: "";
    width: rem(16px);
    height: rem(14px);
    clip-path: polygon(15% 36%, 0 54%, 49% 98%, 100% 24%, 87% 2%, 45% 63%);
    transform: scale(0);
    background-color: $color-white;
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  input[type="checkbox"]:hover {
    color: black;
  }
  .menu-bot__item-accent{
    background-color:$color-beige-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    .menu-bot__link{
      padding: rem(12px) rem(40px);
      &:hover{
          background-color:$color-beige-dark;
      }
  }
  }
