.feedback{
    background-image:linear-gradient(160deg, rgba(31,44,73,0.4) 32%, rgba(31,44,73,0.7) 100%), url('../../img/feedback.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    @include respPadding(0, rem(80px));
    &__company-logo{
        padding: rem(15px) rem(10px) rem(10px) rem(10px);
        width: fit-content;
        background-color:$color-beige-light;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-bottom: rem(20px);
        img{
            width: rem(45px);
            height: rem(35px);
        }
    }
    &__title{
        color:$color-white;
        margin-bottom: rem(30px);
    }
    &__text{
        color: $color-white;
        font-size: rem(16px);
        line-height: 155%;
        margin-bottom:rem(25px);
        max-width: rem(567px);
    }
    &__form{
        max-width: rem(567px);
        @include respond(min-phone){
            max-width: 100%;
            display:flex;
            flex-direction: column;
        }
    }
    &__input{
        background-color: transparent;
        border: none;
        max-width: rem(220px);
        color: rgb($color-white, 0.7);
        border-bottom: 1px solid rgb($color-white, 0.7);
        padding-bottom: rem(15px);
        margin-right: rem(20px);
        margin-bottom: rem(20px);
        outline:none;
        &::placeholder{
            color: rgb($color-white, 0.7);
        }
 
        @include respond(min-phone){
            max-width: 100%;
            display: inline-block;
        }
    }
    &__checkbox-container{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__checkbox{
        margin-right: rem(10px);
        width: rem(20px);
        height: rem(20px);
        &~label{
            color:rgb($color-white, 0.7);
            font-size: rem(12px);
            text-align: center;
        }
    }
    &__btn{
        background-color:$color-beige-light;
        max-width: fit-content;
        &:hover{
            background-color:$color-beige-dark;
        }
    }

}